<<<<<<< HEAD
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
}

.container {
  display: flex;
}

#sidebar {
  width: 15vw;
  height: 100vh;
  background: blue;
}

#mainArea {
  width: 85vw;
  height: 100vh;
  background: rgba(255, 253, 208, 0.3);
}

#buttonDropDown {
  display: flex;
  flex-direction: column;
}

/* utilities */
button {
  padding: 15px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
  background: green;
=======
body {
  background: red;
>>>>>>> d1d4d54 (setup python and sql)
}
