<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Transactions</title>
  </head>
  <body class="frameView">
    <h1>Transactions</h1>

    <section id="ttable">
      <table id="transactionTable">
        <tr>
          <th>Transaction No.</th>
          <th>Transaction Date</th>
          <th>Transaction Description</th>
          <th>Unit Price</th>
          <th>Units Ordered</th>
          <th>Units Received</th>
          <th>Units Sold</th>
          <th>Units Wasted</th>
          <th>Product No.</th>
          <th>Purchase Order No.</th>
          <th colspan="2">Actions</th>
        </tr>
        <tbody></tbody>
      </table>
    </section>

    <section>
      <form action="" method="" id="transactionForm">
        <h2>Add New Transaction Form</h2>

        <label for="transactionDate">Transaction Date:</label>
        <input
          type="datetime-local"
          id="transactionDate"
          name="transactionDate"
        /><br />

        <label for="transactionDescription">Product Name:</label>
        <input
          type="text"
          id="transactionDescription"
          name="transactionDescription"
        /><br />

        <label for="unitPrice">Unit Price:</label>
        <input type="number" id="unitPrice" name="unitPrice" /><br />

        <label for="unitsOrdered">Units Ordered:</label>
        <input type="number" id="unitsOrdered" name="unitsOrdered" /><br />

        <label for="unitsReceived">Units Received:</label>
        <input type="number" id="unitsReceived" name="unitsReceived" /><br />

        <label for="unitsSold">Units Sold:</label>
        <input type="number" id="unitsSold" name="unitsSold" /><br />

        <label for="unitsWasted">Units Wasted:</label>
        <input type="number" id="unitsWastage" name="unitsWastage" /><br />

        <label for="purchaseOrderNo">Purchase Order No:</label>
        <input type="number" id="purchaseOrder" name="purchaseOrder" /><br />

        <label for="productNo">Product No:</label>
        <input type="number" id="productNo" name="productNo" /><br />

        <input type="submit" value="Add Transaction" class="submitButtons" />
      </form>
    </section>

    <script src="{{ url_for('static', filename='transactions.js')}}"></script>
  </body>
</html>
